body {
  min-width: 320px;
  color: #212121;
  font-family: Roboto, sans-serif;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
  margin-bottom: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body.modal-open {
  overflow: hidden;
}

.whatwedo-page__title, .ourteam-page__title, .ourclients-page__title {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.main-nav {
  position: relative;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .main-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (min-width: 768px) {
  .main-nav {
    padding-top: 26px;
    padding-bottom: 26px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.main-nav__logo-firstpart {
  color: #2196f3;
}

.main-nav__logo-secondpart {
  color: #212121;
}

.main-nav__full-logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .main-nav__full-logo {
    font-size: 24px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 1200px) {
  .main-nav__full-logo {
    font-size: 26px;
    line-height: 1.2;
  }
}

.site-nav {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav {
    margin-left: 93px;
  }
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: #212121;
}

.site-nav__link--current:hover, .site-nav__link--current:focus {
  color: #2196f3;
}

.site-nav__link--current {
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

@media screen and (min-width: 768px) {
  .site-nav__link--current::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: #2196f3;
    border-radius: 2px;
    opacity: 1;
    position: absolute;
    margin-top: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .site-nav__link--current::after {
    margin-top: 37px;
  }
}

.site-nav__item {
  margin-right: 50px;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .site-nav__item {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .site-nav__item {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }
}

.site-nav__item:last-child {
  margin-right: 0;
}

.site-nav__adjective {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__adjective:hover, .site-nav__adjective:focus {
  color: #2196f3;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .auth-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav {
    margin-top: -12px;
    -webkit-box-orient: inherit;
    -webkit-box-direction: inherit;
        -ms-flex-direction: inherit;
            flex-direction: inherit;
    display: block;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__item:first-child {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__item + .auth-nav__item {
    margin-left: 30px;
  }
}

.auth-nav__envelope-icon {
  fill: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .auth-nav__envelope-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__envelope-icon {
    display: block;
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__envelope-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
}

.auth-nav__smartphone-icon {
  fill: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .auth-nav__smartphone-icon {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .auth-nav__smartphone-icon {
    display: block;
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
}

@media screen and (min-width: 1200px) {
  .auth-nav__smartphone-icon {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
}

.auth-nav__phone, .auth-nav__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.auth-nav__email:hover, .auth-nav__email:focus {
  color: #2196f3;
}

.auth-nav__email:hover .auth-nav__envelope-icon,
.auth-nav__email:focus .auth-nav__envelope-icon {
  fill: currentColor;
}

.auth-nav__phone:hover, .auth-nav__phone:focus {
  color: #2196f3;
}

.auth-nav__phone:hover .auth-nav__smartphone-icon,
.auth-nav__phone:focus .auth-nav__smartphone-icon {
  fill: currentColor;
}

.auth-nav__phone {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.auth-nav__email {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  text-decoration: none;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 30px;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  z-index: 7;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  margin-left: auto;
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.menu-container .menu-toggle {
  position: absolute;
  top: 20px;
  right: 15px;
  color: #fff;
}

.mobile-sitenav__item {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  text-align: left;
  margin-bottom: 32px;
}

.mobile-sitenav__link {
  text-decoration: none;
  color: #212121;
}

.mobile-sitenav__link:hover, .mobile-sitenav__link:focus {
  color: #2196f3;
}

.mobile-sitenav__link--current:hover, .mobile-sitenav__link--current:focus {
  color: #2196f3;
}

.mobile-sitenav__link--current {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #2196f3;
}

.mobile-authnav__smartphone-icon,
.mobile-authnav__envelope-icon {
  display: none;
}

.mobile-authnav__phone {
  display: inline-block;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  margin-top: 302px;
}

.mobile-authnav__email {
  display: inline-block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-top: 32px;
  margin-bottom: 64px;
  text-decoration: none;
}

.mobile-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.mobile-social__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
  margin-left: 10px;
}

.mobile-social__item {
  margin-left: 10px;
}

.mobile-social__item:first-child {
  margin-left: -10px;
}

.mobile-social__item::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
  display: inline-block;
  margin-left: 10px;
}

.mobile-social__item:last-of-type::after {
  margin-left: 0;
  content: "";
  width: 0;
}

.menu-toggle:hover .icon-menu24,
.menu-toggle:focus .icon-menu24,
.menu-toggle:hover .icon-close24,
.menu-toggle:focus .icon-close24 {
  fill: #2196f3;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero {
  margin-right: auto;
  margin-left: auto;
  color: #ffffff;
  text-align: center;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .hero {
    padding-top: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
  }
}

.hero--overlay {
  max-width: 1600px;
  background-color: #2f303a;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .hero--overlay {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg@1x-480.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@1x-480.jpg);
    background-size: cover;
  }
}

@media screen and (min-width: 480px) and (min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-device-pixel-ratio: 2), screen and (min-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 480px) and (min-resolution: 192dpi), screen and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 480px) and (min-resolution: 192dpi), screen and (min-width: 480px) and (min-resolution: 2dppx), screen and (max-width: 480px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg@2x-480.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@2x-480.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero--overlay {
    height: 400px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg@1x-768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@1x-768.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg@2x-768.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@2x-768.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero--overlay {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg@1x-1600.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@1x-1600.jpg);
    background-size: 1600px 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero--overlay {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-bg@2x-1600.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg@2x-1600.jpg);
  }
}

.hero__text {
  margin-right: auto;
  margin-left: auto;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .hero__text {
    font-size: 26px;
    line-height: 1.615;
    width: 360px;
  }
}

@media screen and (min-width: 1200px) {
  .hero__text {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__primary-btn {
  display: inline-block;
  padding: 10px 32px;
  margin-top: 30px;
  margin-bottom: 200px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2196f3;
}

@media screen and (min-width: 480px) {
  .hero__primary-btn {
    margin-bottom: 118px;
  }
}

.hero__primary-btn:hover, .hero__primary-btn:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.closebtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .closebtn {
    margin-left: 412px;
    margin-top: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .closebtn {
    margin-top: 8px;
    margin-left: 490px;
  }
}

.closebtn:hover, .closebtn:focus {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  fill: #2196f3;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .backdrop {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
  }
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #ffffff;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .modal {
    max-width: 450px;
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
}

.form-agreement {
  position: relative;
  margin-top: 20px;
  margin-bottom: 30px;
}

.form-icons {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .form-agreement__accept {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (min-width: 1200px) {
  .form-agreement__accept {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-field__user-info {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-field input::-webkit-input-placeholder {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field input:-ms-input-placeholder {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field input::-ms-input-placeholder {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field input::placeholder {
  padding: 12px 16px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: absolute;
  width: 16px;
  height: 15px;
  color: #757575;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline-offset: 0;
}

.check-icon {
  border-radius: 2px;
  margin-right: 8px;
  display: inline-block;
  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 1px solid #212121;
}

.checkbox:checked + .check-icon {
  background-color: #2196f3;
  border-radius: 2px;
  border-color: #2196f3;
  border: none;
}

.form-agreement__accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .form-agreement__accept {
    margin-left: 12px;
  }
}

.check-agreem {
  margin-right: 4px;
}

textarea {
  resize: none;
}

.input-border {
  min-height: 40px;
  min-width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-border:hover, .input-border:focus {
  border: 1px solid #2196f3;
}

.order-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.comment {
  padding: 12px 16px;
}

.sendback-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  width: 200px;
  height: 50px;
  margin-left: auto;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #188ce8;
  color: #ffffff;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.sendback-btn:hover, .sendback-btn:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.name-form {
  position: relative;
  min-width: 342px;
}

.input-border:hover ~ .form-icons,
.input-border:focus ~ .form-icons {
  fill: #2196f3;
}

.customer-agreem {
  color: #2196f3;
}

.advantages {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .advantages {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantages__icons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .advantages__icons-box {
    height: 120px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__icons-box {
    height: 120px;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__icons-box {
    width: 270px;
    height: 120px;
  }
}

.advantages__antenna-icon, .advantages__clock-icon, .advantages__diagram-icon, .advantages__astronaut-icon {
  width: 70px;
  height: 70px;
}

.advantages__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}

.advantages__title {
  margin-bottom: 10px;
  color: #212121;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .advantages__title {
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .advantages__title {
    display: inline-block;
  }
}

.advantages__text {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .advantages__text {
    width: 270px;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .advantages__item {
    width: 450px;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item {
    width: 354px;
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item {
    width: 270px;
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item:nth-child(2n) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) {
  .advantages__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .advantages__item:nth-child(4) {
    margin-right: 0;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .whywe-container {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .whywe-container {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .whatwedo-page__title {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .whatwedo-page__title {
    display: inherit;
  }
}

.whatwedo {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .whatwedo {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .whatwedo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 50px;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .whatwedo-page {
    padding: 0;
  }
}

@media screen and (min-width: 1200px) {
  .whatwedo-page {
    padding-bottom: 94px;
  }
}

.whatwedo__item + .whatwedo__item {
  margin-left: 30px;
}

.whatwedo__item {
  position: relative;
}

.whatwedo__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 27px;
  color: #ffffff;
}

.whatwedo__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.ourteam {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .ourteam {
    display: block;
    margin-top: 30px;
  }
}

@media screen and (min-width: 768px) {
  .ourteam {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam {
    margin-top: 50px;
  }
}

.ourteam__item {
  background: #ffffff;
  border: 1px solid #e5e5e5;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .ourteam__item {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .ourteam__item {
    margin-right: 30px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .ourteam__item {
    -ms-flex-preferred-size: calc((100% - 90px) / 4);
        flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.ourteam:last-child {
  margin-right: 0;
}

.ourteam-page {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .ourteam-page {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.ourteam__name {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.ourteam__position {
  text-align: center;
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
  .ourteam__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam__item:nth-child(2n) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .ourteam__item:last-child {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam__item:last-child {
    margin-bottom: auto;
  }
}

@media screen and (min-width: 768px) {
  .ourteam__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam__item:nth-child(n + 3) {
    margin-bottom: auto;
  }
}

@media screen and (min-width: 1200px) {
  .ourteam__item:nth-child(4) {
    margin-right: 0;
  }
}

.media-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .media-box {
    margin-bottom: 24px;
  }
}

.media-box__item {
  margin-right: 10px;
}

.media-box__item:last-child {
  margin-right: 0;
}

.media-box__insta-icon, .media-box__twit-icon, .media-box__facebook-icon, .media-box__linkd-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
}

.media-box__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.media-box__link:hover, .media-box__link:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.media-box__insta-icon, .media-box__twit-icon, .media-box__linkd-icon, .media-box__facebook-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.media-box__link:hover .media-box__twit-icon,
.media-box__link:focus .media-box__twit-icon,
.media-box__link:hover .media-box__insta-icon,
.media-box__link:focus .media-box__insta-icon,
.media-box__link:hover .media-box__facebook-icon,
.media-box__link:focus .media-box__facebook-icon,
.media-box__link:hover .media-box__linkd-icon,
.media-box__link:focus .media-box__linkd-icon {
  fill: currentColor;
}

.ourclients {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .ourclients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .ourclients-page {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .ourclients-page {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.ourclients__link {
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .ourclients__link {
    width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .ourclients__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .ourclients__link {
    width: 170px;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .ourclients__item {
    margin-right: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 768px) {
  .ourclients__item {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .ourclients__item {
    margin-top: 50px;
    -ms-flex-preferred-size: calc((100% - 150px) / 6);
        flex-basis: calc((100% - 150px) / 6);
  }
}

.ourclients__logo1, .ourclients__logo2, .ourclients__logo3, .ourclients__logo4, .ourclients__logo5, .ourclients__logo6 {
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ourclients__link:hover, .ourclients__link:focus {
  border: 1px solid #2196f3;
}

.ourclients__link:hover .ourclients__logo1,
.ourclients__link:focus .ourclients__logo1,
.ourclients__link:hover .ourclients__logo2,
.ourclients__link:focus .ourclients__logo2,
.ourclients__link:hover .ourclients__logo3,
.ourclients__link:focus .ourclients__logo3,
.ourclients__link:hover .ourclients__logo4,
.ourclients__link:focus .ourclients__logo4,
.ourclients__link:hover .ourclients__logo5,
.ourclients__link:focus .ourclients__logo5,
.ourclients__link:hover .ourclients__logo6,
.ourclients__link:focus .ourclients__logo6 {
  fill: #2196f3;
}

.ourclients__logo1:hover, .ourclients__logo2:hover, .ourclients__logo3:hover, .ourclients__logo4:hover, .ourclients__logo5:hover, .ourclients__logo6:hover, .ourclients__logo1:focus, .ourclients__logo2:focus, .ourclients__logo3:focus, .ourclients__logo4:focus, .ourclients__logo5:focus, .ourclients__logo6:focus {
  fill: #2196f3;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .ourclients__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .ourclients__item:nth-child(2n) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .ourclients__item:nth-child(2n) {
    margin-right: 30px;
  }
}

.ourclients__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 768px) {
  .ourclients__item:last-child {
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .ourclients__item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .ourclients__item:nth-child(3n + 3) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .ourclients__item:nth-child(6) {
    margin-right: 0;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .footer {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.footer-page {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__logo-secondpart {
  color: #ffffff;
}

.address-box {
  margin-top: 20px;
}

.address-box__post, .address-box__email, .address-box__phone {
  color: #ffffff;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.address-box__email, .address-box__phone {
  color: rgba(255, 255, 255, 0.6);
}

.address-box__emailaddress {
  margin-top: 9px;
  margin-bottom: 9px;
}

.join-us__title,
.sign-in__title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .join-us-box {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .join-us-box {
    margin-left: 70px;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.join-us__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
  border: 1px solid #2f303a;
  border-radius: 50%;
  background-size: 44px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .sign-in-box {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .sign-in-box {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .sign-in-box {
    margin-left: 93px;
  }
}

@media screen and (min-width: 768px) {
  .sign-in {
    margin-left: 151px;
    margin-right: 137px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-in {
    margin-left: 0;
    margin-right: 0;
  }
}

.sign-in__btn {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  padding-left: 29px;
  text-align: left;
  min-width: 200px;
  min-height: 50px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 4px;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .sign-in__btn {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .sign-in__btn {
    margin-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .sign-in__btn {
    margin-left: 12px;
    margin-top: 0;
  }
}

.sign-in__btn::after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  content: "";
  background-image: url(../icons/send.svg);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}

.sign-in__form {
  min-height: 50px;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .sign-in__form {
    min-width: 358px;
  }
}

@media screen and (min-width: 768px) {
  .sign-in__form {
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .sign-in__form {
    min-width: 358px;
  }
}

.join-us {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .join-us {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: desktop) {
  .join-us {
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.join-us__icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
}

.join-us__link:hover, .join-us__link:active, .join-us__link:focus {
  background-color: #2196f3;
  border: 1px solid #2196f3;
}

.join-us__media + .join-us__media {
  margin-left: 10px;
}

.btn-box {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .btn-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    -ms-flex-preferred-size: calc((100% - 16px) / 3);
        flex-basis: calc((100% - 16px) / 3);
  }
}

@media screen and (min-width: 768px) {
  .btn-box {
    padding-bottom: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .btn-box {
    padding-top: 94px;
    padding-bottom: 50px;
  }
}

.btn-box__item {
  margin-right: 8px;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .btn-box__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .btn-box__item:nth-child(-n + 3) {
    margin-bottom: 0;
  }
}

.btn-box__button {
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: none;
  border-radius: 4px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-box__item:last-child {
  margin-right: 0;
}

.btn-box__button:hover, .btn-box__button:focus {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .projects {
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 768px) {
  .projects {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (min-width: 1200px) {
  .projects {
    margin-left: -30px;
    margin-top: -30px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .projects__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .projects__item {
    margin-left: 30px;
    margin-top: 30px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .projects__item:nth-child(2n + 1) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .projects__item:nth-child(2n + 1) {
    margin-right: 0;
  }
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .projects__item:last-child {
    margin-bottom: 0;
  }
}

.projects__thumb {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.projects-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover .projects-overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-overlay__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

@media screen and (min-width: 480px), (max-width: 480px) {
  .projects-overlay__text {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-overlay__text {
    padding: 63px 24px;
  }
}

.projects__link {
  display: block;
  text-decoration: none;
  outline: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0 0 10px #757575;
          box-shadow: 0 0 10px #757575;
}

.project-box {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
  display: block;
  border: 1px solid #eeeeee;
}

@media screen and (min-width: 768px) {
  .project-box-tehno {
    padding-bottom: 54px;
  }
}

@media screen and (min-width: 1200px) {
  .project-box-tehno {
    padding-bottom: 20px;
  }
}

.project-box__title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-box__text {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */