.ourclients-page__title {
  @extend %page__title;
}

.ourclients {
  padding-inline-start: 0;
  @media screen and (min-width: 480px), (max-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
  }

  &-page {
    @media screen and (min-width: $mobile), (max-width: $mobile) {
      padding-bottom: 60px;
      padding-top: 60px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  &__link {
    height: 90px;
    fill: #afb1b8;

    @include centeredFlex(flex);
    border-radius: 4px;
    border: 1px solid #afb1b8;
    outline: none;

    @include animate(border);
    // @media screen and (min-width: $mobile), (max-width: $mobile) {
    //   width: 210px;
    // }

    // @media screen and (min-width: $tablet) {
    //   width: 226px;
    // }

    // @media screen and (min-width: $desktop) {
    //   width: 170px;
    // }
  }

  &__item {
    @media screen and (min-width: $mobile), (max-width: $mobile) {
      margin-right: 30px;
      margin-top: 30px;
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: $desktop) {
      margin-top: 50px;
      flex-basis: calc((100% - 150px) / 6);
    }
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $accentColor;
    fill: $accentColor;
  }
}

.ourclients__item:nth-child(2n) {
  @media screen and (min-width: $mobile), (max-width: $mobile) {
    margin-right: 0;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.ourclients__item:last-child {
  margin-right: 0;

  @media screen and (min-width: $tablet) {
    margin-right: auto;
  }
}

.ourclients__item:nth-child(3n + 3) {
  @media screen and (min-width: $tablet) {
    margin-right: 0;
  }
  @media screen and (min-width: $desktop) {
    margin-right: 30px;
  }
}

.ourclients__item:nth-child(6) {
  @media screen and (min-width: $desktop) {
    margin-right: 0;
  }
}
