@import "../utils/placeholders";
@import "../utils/mixins";

.ourclients-page__title {
  @extend %page__title;
}

.ourclients {
  display: flex;
  padding-inline-start: 0;
  @media screen and (min-width: 480px) {
    flex-wrap: wrap;
  }

  &-page {
    @media screen and (min-width: $mobile) {
      padding-bottom: 60px;
      padding-top: 60px;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }

  &__link {
    height: 90px;

    @include centeredFlex(flex);
    border-radius: 4px;
    border: 1px solid #afb1b8;
    outline: none;

    @include animate(border);
    @media screen and (min-width: $mobile) {
      width: 210px;
    }

    @media screen and (min-width: $tablet) {
      width: 226px;
    }

    @media screen and (min-width: $desktop) {
      width: 170px;
    }
  }

  &__item {
    @media screen and (min-width: $mobile) {
      margin-right: 30px;
      margin-top: 30px;
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $tablet) {
      flex-basis: calc((100% - 60px) / 3);
    }
    @media screen and (min-width: $desktop) {
      margin-top: 50px;
    }
  }

  &__logo1,
  &__logo2,
  &__logo3,
  &__logo4,
  &__logo5,
  &__logo6 {
    fill: #afb1b8;

    @include animate(fill);
  }

  &__link:hover,
  &__link:focus {
    border: 1px solid $accentColor;
  }

  &__link:hover .ourclients__logo1,
  &__link:focus .ourclients__logo1,
  &__link:hover .ourclients__logo2,
  &__link:focus .ourclients__logo2,
  &__link:hover .ourclients__logo3,
  &__link:focus .ourclients__logo3,
  &__link:hover .ourclients__logo4,
  &__link:focus .ourclients__logo4,
  &__link:hover .ourclients__logo5,
  &__link:focus .ourclients__logo5,
  &__link:hover .ourclients__logo6,
  &__link:focus .ourclients__logo6 {
    fill: $accentColor;
  }

  &__logo1:hover,
  &__logo2:hover,
  &__logo3:hover,
  &__logo4:hover,
  &__logo5:hover,
  &__logo6:hover,
  &__logo1:focus,
  &__logo2:focus,
  &__logo3:focus,
  &__logo4:focus,
  &__logo5:focus,
  &__logo6:focus {
    fill: $accentColor;
  }
}

.ourclients__item:nth-child(2n) {
  @media screen and (min-width: $mobile) {
    margin-right: 0;
  }

  @media screen and (min-width: $tablet) {
    margin-right: 30px;
  }
}

.ourclients__item:last-child {
  margin-right: 0;

  @media screen and (min-width: $tablet) {
    margin-right: auto;
  }
}

.ourclients__item:nth-child(3n + 3) {
  @media screen and (min-width: $tablet) {
    margin-right: 0;
  }
}
