@import "../utils/mixins";

.footer {
  @media screen and (min-width: 480px) {
    display: block;
    text-align: center;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  @media screen and (min-width: $desktop) {
    align-items: baseline;
  }

  &-page {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: #2f303a;
  }

  &__logo-secondpart {
    color: $heroColor;
  }
}

.address-box {
  margin-top: 20px;

  &__post,
  &__email,
  &__phone {
    color: $heroColor;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;
  }

  &__email,
  &__phone {
    color: rgba(255, 255, 255, 0.6);
  }
}

.address-box__emailaddress {
  margin-top: 9px;
  margin-bottom: 9px;
}

.join-us__title,
.sign-in__title {
  display: inline-block;
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $heroColor;
}

.join-us-box {
  margin-left: 70px;
  @media screen and (min-width: 480px) {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: 0;
  }
}

.join-us__link {
  @include centeredFlex(flex);
  padding: 12px;
  border: 1px solid rgba(47, 48, 58, 1);
  border-radius: 50%;
  background-size: 44px 44px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(255, 255, 255, 0.1);

  @include animate(background-color);
  @include animate(border);
}

.sign-in-box {
  @media screen and (min-width: 480px) {
    margin-left: 0;
  }

  @media screen and (min-width: $tablet) {
    margin-left: auto;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.sign-in {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  &__btn {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    padding-left: 29px;
    text-align: left;
    min-width: 200px;
    min-height: 50px;
    letter-spacing: 0.06em;
    color: $heroColor;
    background-color: $accentColor;

    border: none;
    border-radius: 4px;
    @media screen and (min-width: 480px) {
      margin-top: 20px;
    }

    @media screen and (min-width: $tablet) {
      margin-left: 0;
    }

    @media screen and (min-width: $desktop) {
      margin-left: 12px;
    }
  }

  &__btn::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    content: "";
    background-image: url(../icons/send.svg);
    width: 24px;
    height: 24px;
    margin-left: 10px;
  }

  &__form {
    min-height: 50px;
    min-width: 358px;
    color: rgba(255, 255, 255, 0.6);
    padding-left: 16px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    @media screen and (min-width: $tablet) {
      width: 450px;
    }
  }
}

.join-us {
  padding-inline-start: 0;

  display: flex;
  @media screen and (min-width: 480px) {
    align-items: center;
    justify-content: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: $heroColor;
  }

  &__link:hover,
  &__link:active,
  &__link:focus {
    background-color: $accentColor;
    border: 1px solid $accentColor;
  }

  &__media + &__media {
    margin-left: 10px;
  }
}
