.header {
  border-bottom: 1px solid #e5e5e5;
}

.main-nav {
  position: relative;
  @media screen and (min-width: $mobile), (max-width: $mobile) {
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  @media screen and (min-width: $tablet) {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
  }
  @media screen and( min-width:$desktop) {
    align-items: baseline;
  }

  &__logo-firstpart {
    color: $accentColor;
  }

  &__logo-secondpart {
    color: $primaryColor;
  }

  &__full-logo {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    font-weight: bold;

    letter-spacing: 0.03em;
    @media screen and (min-width: 480px), (max-width: $mobile) {
      font-size: 24px;
      line-height: 1.17;
    }
    @media screen and (min-width: $desktop) {
      font-size: 26px;
      line-height: 1.2;
    }
  }
}

.site-nav {
  padding-inline-start: 0;

  @media screen and (min-width: 768px) {
    display: flex;
  }
  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }

  &__link {
    display: block;
    text-decoration: none;
    color: $primaryColor;
    padding-top: 32px;
    padding-bottom: 32px;
  }

  &__link--current:hover,
  &__link--current:focus {
    color: $accentColor;
  }

  &__link--current {
    position: relative;
    @include animate(color);
    color: $accentColor;
  }

  &__link--current::after {
    @media screen and( min-width:$tablet) {
      content: "";
      display: block;
      width: 100%;
      height: 4px;

      background-color: #2196f3;
      border-radius: 2px;

      opacity: 1;
      position: absolute;
      bottom: -1px;
    }
    @media screen and( min-width:$desktop) {
      bottom: 0;
    }
  }

  &__item {
    margin-right: 50px;
    @media screen and (min-width: 480px), (max-width: $mobile) {
      display: none;
    }

    @media screen and (min-width: $tablet) {
      display: block;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      text-align: center;
      letter-spacing: 0.02em;
      margin-bottom: 0;
    }
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__adjective {
    @include animate(color);
  }

  &__adjective:hover,
  &__adjective:focus {
    color: $accentColor;
  }
}

.auth-nav {
  @media screen and (min-width: 480px), (max-width: 480px) {
    display: none;
  }
  @media screen and (min-width: $tablet) {
    flex-direction: inherit;
    display: block;
  }
  @media screen and (min-width: $desktop) {
    display: flex;

    margin-left: auto;
  }

  &__item {
    fill: #757575;
  }

  &__item:first-child {
    @media screen and (min-width: $tablet) {
      margin-bottom: 10px;
    }
  }

  &__item + &__item {
    @media screen and (min-width: $desktop) {
      margin-left: 30px;
    }
  }

  &__envelope-icon {
    @include animate(color);
    @media screen and (min-width: 480px), (max-width: 480px) {
      display: none;
    }

    @media screen and(min-width: $tablet) {
      display: block;
      width: 14px;
      height: 10px;
      margin-right: 8px;
    }

    @media screen and(min-width:$desktop) {
      width: 16px;
      height: 12px;
      margin-right: 10px;
    }
  }

  &__smartphone-icon {
    @include animate(color);
    @media screen and (min-width: 480px), (max-width: 480px) {
      display: none;
    }

    @media screen and(min-width: $tablet) {
      display: block;
      width: 10px;
      height: 14px;
      margin-right: 8px;
    }

    @media screen and(min-width:$desktop) {
      width: 10px;
      height: 16px;
      margin-right: 10px;
    }
  }

  &__phone,
  &__email {
    display: flex;
    text-decoration: none;
    align-items: center;
  }

  &__email:hover,
  &__email:focus {
    color: $accentColor;
    fill: currentColor;
  }

  &__phone:hover,
  &__phone:focus {
    color: $accentColor;
    fill: currentColor;
  }

  &__phone {
    color: $secondaryColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
    letter-spacing: 0.02em;
  }

  &__email {
    color: $secondaryColor;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    text-decoration: none;
    letter-spacing: 0.02em;
    margin-top: 0;
    margin-bottom: 0;
  }
}
