.hero {
  margin-right: auto;
  margin-left: auto;
  color: $heroColor;
  text-align: center;
  @media screen and (min-width: 480px), (max-width: $mobile) {
    // width: 480px;
    padding-top: 118px;
  }

  @media screen and (min-width: $tablet) {
    // width: 768px;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 200px;
    // width: 1200px;
  }

  &--overlay {
    max-width: 1600px;

    background-color: #2f303a;

    background-repeat: no-repeat;
    background-position: center;

    @media screen and (min-width: 480px), (max-width: 480px) {
      // width: 480px;
      height: 400px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg@1x-480.jpg);
      background-size: 480px 400px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero-bg@2x-480.jpg);
      }
    }

    @media screen and (min-width: $tablet) {
      // width: 768px;
      height: 400px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg@1x-768.jpg);
      background-size: 768px 400px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero-bg@2x-768.jpg);
      }
    }

    @media screen and (min-width: $desktop) {
      // width: 1200px;
      height: 600px;
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/hero-bg@1x-1600.jpg);
      background-size: 1600px 600px;

      @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)
          ),
          url(../images/hero-bg@2x-1600.jpg);
      }
    }
  }

  &__text {
    margin-right: auto;
    margin-left: auto;

    font-weight: 900;

    text-transform: uppercase;
    letter-spacing: 0.06em;
    @media screen and (min-width: 480px), (max-width: $mobile) {
      font-size: 26px;
      line-height: 1.615;
      width: 360px;
    }

    @media screen and (min-width: $desktop) {
      width: 696px;
      font-size: 44px;
      line-height: 1.36;
    }
  }
}
