.hero__primary-btn {
  display: inline-block;

  padding: 10px 32px;
  margin-top: 30px;
  margin-bottom: 200px;

  color: $heroColor;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  text-decoration: none;
  align-items: center;
  letter-spacing: 0.06em;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $accentColor;
  @media screen and (min-width: 480px) {
    margin-bottom: 118px;
  }

  &:hover,
  &:focus {
    transform: scale(1.25);
  }
}

.closebtn {
  @include centeredFlex(flex);
  width: 30px;
  height: 30px;

  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  @media screen and (min-width: $mobile), (max-width: $mobile) {
    margin-left: 412px;
    margin-top: 40px;
  }
  @media screen and (min-width: $desktop) {
    margin-top: 8px;
    margin-left: 490px;
  }

  &:hover,
  &:focus {
    transform: scale(1.25);
    fill: $accentColor;
  }
}

.backdrop {
  @media screen and (min-width: $mobile), (max-width: $mobile) {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);

    overflow-y: scroll;
  }

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: #ffffff;
  @media screen and (min-width: $mobile), (max-width: $mobile) {
    max-width: 450px;
    width: 100%;
  }
  @media screen and (min-width: $desktop) {
    max-width: 528px;
  }
}

.form {
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;

  &-agreement {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  &-icons {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: $primaryColor;
    @include animate(fill);
  }

  &-agreement__accept {
    @media screen and (min-width: $mobile), (max-width: $mobile) {
      font-size: 12px;
      line-height: 1.17;

      letter-spacing: 0.03em;
    }

    @media screen and (min-width: $desktop) {
      font-weight: normal;
      font-size: 14px;
      line-height: 1.71;

      letter-spacing: 0.03em;
    }
  }
}

.form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  &__user-info {
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: #757575;
  }

  & input::placeholder {
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox {
  position: absolute;

  width: 16px;
  height: 15px;

  color: #757575;
  appearance: none;
  -webkit-appearance: none;
  outline-offset: 0;
}

.check-icon {
  border-radius: 2px;
  margin-right: 8px;

  display: inline-block;

  width: 16px;
  height: 15px;
  background-color: transparent;
  border: 1px solid $primaryColor;
}

.checkbox:checked + .check-icon {
  background-color: $accentColor;
  border-radius: 2px;

  border-color: $accentColor;
  border: none;
}

.form-agreement__accept {
  display: flex;

  align-items: center;
  @media screen and (min-width: $desktop) {
    margin-left: 12px;
  }
}

.check-agreem {
  margin-right: 4px;
}

textarea {
  resize: none;
}

.input-border {
  min-height: 40px;
  min-width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  @include animate(border);

  &:hover,
  &:focus {
    border: 1px solid $accentColor;
  }
}

.order-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.comment {
  padding: 12px 16px;
}

.sendback-btn {
  @include centeredFlex(flex);
  margin-right: auto;
  width: 200px;
  height: 50px;
  margin-left: auto;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  background-color: #188ce8;
  color: $heroColor;

  @include animate(background-color);
  @include animate(color);

  &:hover,
  &:focus {
    background-color: #2196f3;
    color: $heroColor;
  }
}

.name-form {
  position: relative;
  min-width: 342px;
}

.input-border:hover ~ .form-icons,
.input-border:focus ~ .form-icons {
  fill: $accentColor;
}

.form-field:hover .form-field__user-info,
.form-field:focus .form-field__user-info {
  @media screen and(max-width: 767px) {
    color: $accentColor;
  }
}

.input-border:hover,
.input-border:focus {
  border-color: $accentColor;
  outline: none;
}

.customer-agreem {
  color: $accentColor;
}
