.projects {
  padding-inline-start: 0;

  @media screen and (min-width: $mobile), (max-width: $mobile) {
    padding-bottom: 60px;
  }

  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (min-width: $desktop) {
    margin-left: -30px;
    margin-top: -30px;
    padding-bottom: 94px;
    justify-content: flex-start;
  }

  &__item {
    @media screen and (min-width: $mobile), (max-width: $mobile) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: $tablet) {
      display: flex;
      flex-basis: calc((100% - 30px) / 2);
    }

    @media screen and (min-width: $desktop) {
      display: block;

      margin-top: 30px;
      flex-basis: calc((100% - 90px) / 3);
      margin-bottom: 0;
      margin-left: 30px;
    }
  }

  &__item:last-child {
    @media screen and (min-width: $mobile), (max-width: $mobile) {
      margin-bottom: 0;
    }
  }

  &__thumb {
    position: relative;
    overflow: hidden;
  }

  &-overlay {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);
    opacity: 0;
    transform: translateY(100%);

    @include animate(transform);
  }

  &__link:hover &-overlay {
    opacity: 1;
    transform: translateY(0);
  }

  &-overlay__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;

    letter-spacing: 0.03em;
    color: $heroColor;
    @media screen and (min-width: $mobile), (max-width: $mobile) {
      padding: 77px 24px;
    }
    @media screen and (min-width: $desktop) {
      padding: 63px 24px;
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    outline: none;

    @include animate(box-shadow);

    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__link:hover,
  &__link:focus {
    box-shadow: 0 0 10px $secondaryColor;
  }
}

.project-box {
  padding: 20px 24px;
  flex-grow: 1;
  border: 1px solid #eeeeee;
  border-top: none;

  &__title {
    color: $primaryColor;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__text {
    color: $secondaryColor;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
  }
}
