// @import "../utils/mixins";

.btn-box {
  padding-inline-start: 0;
  @media screen and (min-width: $mobile), (max-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
    flex-basis: calc((100% - 16px) / 3);
  }

  @media screen and (min-width: $tablet) {
    padding-bottom: 30px;
    justify-content: center;
  }

  @media screen and (min-width: $desktop) {
    padding-top: 94px;
    padding-bottom: 50px;
  }

  &__item {
    margin-right: 8px;
  }

  &__item:nth-child(-n + 3) {
    @media screen and (min-width: $mobile), (max-width: $mobile) {
      margin-bottom: 15px;
    }
    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
    }
  }

  // &__item:nth-child(3) {
  //   @media screen and (min-width: $mobile), (max-width: $mobile) {
  //     margin-right: 0;
  //   }
  //   @media screen and (min-width: $tablet) {
  //     margin-right: 8px;
  //   }
  // }

  &__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;

    display: inline-block;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    border: none;
    border-radius: 4px;

    @include animate(background-color);
    @include animate(color);
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__button:hover,
  &__button:focus {
    background-color: $accentColor;
    color: $heroColor;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
